
.main-header h1 a,
.main-header h1 a:visited,
.main-header h1 a:link {
    color: #333;
}

.back-link {
    display: inline-block;
    margin-bottom: 30px;
}

#map {
    min-height: 300px;
}

#search-results {
    margin-top: 1em;
}

body > footer {
    /* See jumbotron */
    margin-top: 30px;
    padding: 48px 0;
    background-color: #eee;
    text-align: center;
}

/** Form errors **/
#errors {
    padding: 1em;
    border: 1px solid #a94442;
    border-radius: 4px;
}
#errors ul {
    margin: 0 0 0 1em;
    padding: 0;
}

/** Results **/
#map.results {
    min-height: 500px;
    margin-bottom: 1em;
}

.results .leaflet-popup-content {
    margin: 1em;
}
.results .leaflet-popup-content h2 {
    font-size: 20px;
}
.results .leaflet-popup-content ul {
    margin: 0.5em 0;
    padding-left: 1.5em;
}